In [1]:
# word boundry :--> where one word ends and other word starts
# Bag of words--> collection of words
# tokenization :--> each unique word is represented by unique no

# stop words :-->those words which very frequent in document and they do not add any meaning to the document

# Ex is , was ,this that there were

# each row is one document and collection of document is known as corpose

In [2]:
# remove all the stop words

In [3]:
# term frequency :- count of each and every term 
# each word is known as a term

In [4]:
# Higher the term frequency more important is the word

In [5]:
# Stepping:---> mapping to the root word

# ex cars--> car , laughing --> laugh

In [6]:
# disambiguation :--> context vs content 
# are those words which have same spelling but different meaning 

# mercury , light,nail,steel

In [7]:
# NER name entity recogination
#basically data type
#london : geographic location
# time :10:10

In [8]:
# topic model is used find the hidden data
# Ex movie analysis

In [9]:
# stop word ,tf are most important and tokenization

In [10]:
# TDM -- Term Document Matrix 
# converts unstructure into structured sata
# in tdm each unique word will become a column and zero will indicate the absenece and one or the higher number will indicate the presence

In [11]:
import pandas as pd
import numpy as np
sp = pd.read_csv(r'D:\Imarticus Learning\DATASETS\spam1.csv', encoding='cp1252')
sp

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
6771,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
6772,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
6773,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
6774,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
6775,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [12]:
#sp = sp.drop(['Unnamed: 2','Unnamed: 3','Unnamed: 4'],axis=1)
sp.head(2)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN

In [13]:
sp = sp.loc[:,['v1','v2']]

In [14]:
sp.v1.replace({'ham':0,'spam':1}, inplace=True)
sp.head(2)

   v1                                                 v2
0   0  Go until jurong point, crazy.. Available only ...
1   0                      Ok lar... Joking wif u oni...

In [15]:
sp['v2'] = sp['v2'].str.lower()

In [16]:
import nltk 
from nltk.corpus import stopwords

In [17]:
 import nltk
 nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\shubh\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [18]:
len(stopwords.words('english'))

179

In [19]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [20]:
# document is broken into words
# remove stop

In [21]:
def text_process(mess):


    nopunc = [char for char in mess if char not in string.punctuation]
    nopunc ="".join(nopunc)

    return [word for word in nopunc.split() if word not in stopwords.words('english')]

In [22]:
#messages['X'].apply(text_process)

In [23]:
sp['v2'].apply(text_process)

0       [go, jurong, point, crazy, available, bugis, n...
1                          [ok, lar, joking, wif, u, oni]
2       [free, entry, 2, wkly, comp, win, fa, cup, fin...
3           [u, dun, say, early, hor, u, c, already, say]
4       [nah, dont, think, goes, usf, lives, around, t...
                              ...
6771    [2nd, time, tried, 2, contact, u, u, å£750, po...
6772                   [ì, b, going, esplanade, fr, home]
6773                     [pity, mood, soany, suggestions]
6774    [guy, bitching, acted, like, id, interested, b...
6775                                   [rofl, true, name]
Name: v2, Length: 6776, dtype: object

In [24]:
from sklearn.feature_extraction.text import CountVectorizer

In [ ]:
bow_transformer = CountVectorizer(analyzer=text_process).fit(sp['v2'])

In [ ]:
bow_transformer.vocabulary_

In [ ]:
sp_bow = bow_transformer.transform(sp.v2)

In [ ]:
# messages_bow -->X
# messages.Y---> Y
#  build model in log, dt , rf ,svm